<div
  id={{this.elementId}}
  class="modal micromodal-slide"
  aria-hidden="true"
  ...attributes
  {{did-insert this._initialize}}
  {{did-update this._update @show}}
>
  <div class="modal__overlay" tabindex="-1" {{click-to-overlay @clickToOverlay}}>
    {{yield (hash container=(component 'micro-modal/container' elementId=this.elementId))}}
  </div>
</div>